@import '../../vars.css';

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(10,10,10,0.2);
    border: rgba(4, 240, 14, 0.5) solid 2px;
    padding: 18px 24px;
    max-width: 345px;
    height: 550px;
    z-index: 1;
}

.image {
    margin-bottom: 26px;
    height: 25%;
}

.title {
    font-size: 25px;
    font-weight: 550;
    letter-spacing: 0.75px;
}

.description {
    margin-top: 6px;
    letter-spacing: 0.2px;
    font-size: 19px;
    font-weight: 100;
    color: rgba(240, 240, 240, 0.9);
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    height: 5%;

}

.skill {
    font-size: 16px;
    font-weight: 400;
    border-radius: 100px;
    
    padding: 2px 22px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(4, 150, 14, 1);
}

.links {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    height: 15%;
    align-items: center;

}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    font-weight: 400;
    border-radius: 100px;
    background: transparent;
    background: rgba(4, 150, 14, 1);
    width: 45%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}