@import '../../vars.css';

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    max-width: 345px;
    height: 700px;
}

.image {
    margin-bottom: 26px;
    height: 25%;
}

.title {
    font-size: 25px;
    font-weight: 550;
    letter-spacing: 0.75px;
}

.description {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 400;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    height: 5%;

}

.skill {
    font-size: 16px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
    display: flex;
    align-items: center;
}

.links {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    height: 15%;
    align-items: center;

}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 22px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-primary);
    width: 45%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}