@import '../../vars.css';




.fullPageContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 49px;
    z-index: 1;
    margin-left: 15%;
    margin-right: 15%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    width: 55%;
}

.welcomeBlock {

    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background: #3F5EFB;
    background: radial-gradient(circle, rgb(81, 105, 150) 0%, rgb(100, 61, 96) 100%);
}

.welcomeBlock p {
    font-family: var(--font-manrope);
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 18px;
}


.title {
    font-size: 70px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--font-manrope);
}

.description {
    font-size: 22px;
    font-family: var(--font-manrope);
    margin-bottom: 25px;
    color: rgba(240, 240, 240, 0.8);
    z-index: 3;
    letter-spacing: 1px;
}

.contact {
    text-decoration: none;
    background-color: transparent;
    color: var(--color-offWhite);
    border-radius: 10px;
    font-size: 24px;
    padding: 10px 10px;
    font-weight: 200;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    justify-content: space-evenly;
    cursor: pointer;
}




.heroImg {
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.heroWrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.heroImageContainer {
    width: 400px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    left: -90px;

}

.bluePlanet {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
}


/* inner background (planet) */
.bluePlanet::after {
    content: '';
    position: absolute;
    inset: 0;
    /* perfectly inside the border */
    border-radius: 50%;
    background-image: url('/blue-planet.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}


.topBlur,
.bottomBlur {
    position: absolute;
    width: 300px;
    /* size of the glow */
    height: 300px;
    border-radius: 50%;
    filter: blur(140px);
    /* how soft the glow is */
    z-index: 0;
    pointer-events: none;
    /* avoid interaction issues */
}

.topBlur {
    top: -150px;
    left: -100px;
    background: rgba(255, 200, 255, 0.4);
    /* soft purplish glow */
}


.bottomBlur {
    top: 150px;
    right: -100px;
    background: rgba(150, 200, 255, 0.5);
    /* soft bluish glow */
}


.rocket {
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url('/rocket.jpg');
    background-size: cover;
    background-position: center;
    bottom: -80px;
    right: -100px;
}

.yellowPlanet {
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url('/yellow-planet (1).jpg');
    background-size: cover;
    background-position: center;
    top: -100px;
    left: -150px;
}






@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 20px)
    }

    100% {
        transform: translate(0, -1px);
    }
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;

    }

    .content {
        align-items: center;
    }
}



 @media screen and (max-width: 430px) {

        .fullPageContainer {
            height: auto;
            padding-top: 40px;
            padding-bottom: 60px;
        }

        .container {
            flex-direction: column-reverse;
            margin-left: 0;
            margin-right: 0;
            margin-top: 20px;
        }

        .content {
            width: 100%;
            align-items: center;
            text-align: center;
            padding: 0 20px;
        }

        .welcomeBlock {
            width: 100%;
            height: auto;
            padding: 6px 12px;
            justify-content: center;
        }

        .welcomeBlock p {
            font-size: 14px;
            letter-spacing: 0.3px;
        }

        .title {
            font-size: 38px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .description {
            font-size: 16px;
            margin-bottom: 20px;
            letter-spacing: 0.5px;
        }

        .contact {
            font-size: 18px;
            padding: 10px 16px;
        }

        /* ---- HERO / PLANETS ---- */
        .heroWrapper {
            width: 100%;
            justify-content: center;
            margin-bottom: 40px;
        }

        .heroImageContainer {
            width: 260px;
            height: 260px;
            position: relative;
            left: 0;
        }

        .bluePlanet {
            width: 260px;
            height: 260px;
        }

        .topBlur,
        .bottomBlur {
            width: 180px;
            height: 180px;
            filter: blur(95px);
        }

        .topBlur {
            top: -90px;
            left: -50px;
        }

        .bottomBlur {
            top: 140px;
            right: -50px;
        }
    

}