@import '../../vars.css';

.container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.8);
    border-radius: 15px;
    padding: 30px;
    margin-top: 0px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.title {
    color: var(--color-text);
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.aboutImage {
    width: 70%;
    animation: orbit 4s forwards infinite;
    animation-timing-function: linear;
}

.yellowPlanet {
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url('/yellow-planet (1).jpg');
    background-size: cover;
    background-position: center;
    top: 0px;
    left: 0px;
    z-index: 0;
}



.bottomBlur {
    top: 0px;
    left: 0px;
    background: rgba(255, 230, 100, 0.5);
    /* soft bluish glow */
    z-index: 0;
    position: absolute;
    width: 250px;
    /* size of the glow */
    height: 250px;
    border-radius: 50%;
    filter: blur(120px);
    /* how soft the glow is */
    z-index: 0;
    pointer-events: none;
    /* avoid interaction issues */
}


@-webkit-keyframes orbit {
    from {  -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   {  -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, rgba(255, 230, 100, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}





.aboutItem img {
    height: 8%;
    width: 8%;
    margin-right: 15px;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 7px;
    letter-spacing: 1px;
}

.aboutItem p {
    font-size: 20px;
    color: rgba(240,240,240,0.8);
}

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        flex-direction: column;

    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 430px) {

    .container {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        padding: 20px 15px;
        background-color: rgba(12, 12, 12, 0.6); 
        border-radius: 12px;
        text-align: center;
    }

    .title {
        font-size: 32px;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
    }

    .content {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    /* Hide orbit image on small screens (optional) */
    .aboutImage {
        width: 50%; /* smaller but still visible */
        max-width: 180px; /* optional cap for very small screens */
        animation: orbit 4s forwards infinite;
        animation-timing-function: linear;
        margin: 0 auto; /* center the image */
        display: block;
    }

    @-webkit-keyframes orbit {
        from {  -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); }
        to   {  -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
    }
    

    /* PLANET + BLUR SCALE DOWN */
    .yellowPlanet {
        width: 140px;
        height: 140px;
        top: -20px;
        left: -20px;
    }

    .bottomBlur {
        width: 150px;
        height: 150px;
        top: -40px;
        left: -40px;
        filter: blur(90px);
    }

    /* ABOUT ITEMS */
    .aboutItems {
        width: 100%;
        margin-top: 25px;
        gap: 35px;
    }

    .aboutItem {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        background-image: linear-gradient(
            180deg,
            rgba(255, 230, 100, 0.35) 0%,
            rgba(255, 255, 255, 0) 100%
        );
        background-size: 100% 0;
    }

    .aboutItem img {
        width: 55px;
        height: 55px;
        margin-right: 0;
        margin-bottom: 12px;
    }

    .aboutItem h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .aboutItem p {
        font-size: 16px;
        line-height: 1.4;
    }
}
