@import '../../vars.css';

.container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.8);
    border-radius: 15px;
    padding: 50px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    
}

.title {
    color: var(--color-text);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.aboutImage {
    width: 70%;
    animation: orbit 4s forwards infinite;
    animation-timing-function: linear;
}

.yellowPlanet {
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url('/yellow-planet (1).jpg');
    background-size: cover;
    background-position: center;
    top: 0px;
    left: 0px;
    z-index: 0;
}



.bottomBlur {
    top: 0px;
    left: 0px;
    background: rgba(255, 230, 100, 0.5);
    /* soft bluish glow */
    z-index: 0;
    position: absolute;
    width: 250px;
    /* size of the glow */
    height: 250px;
    border-radius: 50%;
    filter: blur(120px);
    /* how soft the glow is */
    z-index: 0;
    pointer-events: none;
    /* avoid interaction issues */
}


@-webkit-keyframes orbit {
    from {  -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   {  -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, rgba(255, 230, 100, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}





.aboutItem img {
    height: 8%;
    width: 8%;
    margin-right: 15px;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3px;
    letter-spacing: 1px;
}

.aboutItem p {
    font-size: 18px;
    color: rgba(240,240,240,0.8);
}

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        flex-direction: column;

    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}