@import "../../vars.css";

.navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 15%;
    padding: 0% 5%;
}   

.title {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);

}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.menuItems a {
    font-size: 20px;
    color: var(--color-offWhite);
    text-decoration: none;
    letter-spacing: 1px;
    font-family: var(--font-manrope);
}


.menuBtn {
    width: 30px;
}

.link {
    border: white solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
}




@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .menu {
        position: absolute;
        right: 0px;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;   
    }

    .menuBtn {
        display: block;
        cursor: pointer;

    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(0deg, rgba(25,55,109,0.2) 0%, rgba(25,55,109,1) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);

    }


    .menuOpen {
        display: flex;
        z-index: 1;
    }
}