@import '../../vars.css';

.container {
    color: var(--color-text);
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}



.skills {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px;
    position: relative;
}


.red-planet {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url('red-planet.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
    top: 220px;
    left: 230px;
}


.redBlur {
    top: 180px;
    left: 200px;
    background: rgba(238, 8, 8, 0.5);
    /* soft bluish glow */
    z-index: 0;
    position: absolute;
    width: 250px;
    /* size of the glow */
    height: 250px;
    border-radius: 50%;
    filter: blur(110px);
    /* how soft the glow is */
    z-index: 0;
    pointer-events: none;
    /* avoid interaction issues */
}






.skill {
    display: flex;
    flex: 0 0 calc((100% - 3 * 11px) / 4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;
    z-index: 1;
}

.skillImageContainer {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;        /* responsive width */
    aspect-ratio: 1;
}

.skillImageContainer img {
    width: 55%;
    aspect-ratio: 1;
}

.skill p {
    font-size: 18px;
    font-family: var(--font-roboto);
    font-weight: 500;
    letter-spacing: 1.5px;
    color: rgba(240,240,240,0.95);
    z-index: 1;
}




.history {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: linear-gradient(90deg, rgba(153, 7, 7, 0.5) 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;

}

.historyItem img {
    width: 50px;

}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
    letter-spacing: 0.75px;
}


.historyItemDetails p {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 4px;
}

.historyItemDetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 18px;
    list-style-type: disc;
    margin-left: 17px;

}

.historyItemDetails ul li {
    margin-top: 4px;
}

.historyItem img {
    width: 90px;
    aspect-ratio: 1.4;
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history {
        width: 100%;
        gap: 9px;
    }

    


}