@import '../../vars.css';

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}



.skills {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px;
}

.skill {
    display: flex;
    flex: 0 0 calc((100% - 3 * 11px) / 4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;        /* responsive width */
    aspect-ratio: 1;
}

.skillImageContainer img {
    width: 55%;
    aspect-ratio: 1;
}

.skill p {
    font-size: 18px;
    font-family: var(--font-roboto);
    font-weight: 500;
    letter-spacing: 1.5px;
    color: rgba(240,240,240,0.95);
}




.history {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;

}

.historyItem img {
    width: 50px;

}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
    letter-spacing: 0.75px;
}


.historyItemDetails p {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 4px;
}

.historyItemDetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 18px;
    list-style-type: disc;
    margin-left: 17px;

}

.historyItemDetails ul li {
    margin-top: 4px;
}

.historyItem img {
    width: 90px;
    aspect-ratio: 1.4;
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history {
        width: 100%;
        gap: 9px;
    }

    


}