:root {

    --color-text: white;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --color-offWhite: #f4f4f4;

    --font-manrope: "Manrope", sans-serif;
    --font-roboto: "Roboto";
}

